*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;  
}
body{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    font-family: 'Outfit', sans-serif;
}
h1{
    position: relative;
    font-size: 48px;
    font-weight: 600;
    margin: 20px 0px;
    text-align: center;
    align-items: center;
    line-height: 1;
}
h2{
    position: relative;
    font-size: 40px;
    font-weight: 600;
    margin: 30px 0px;
    padding-top: 14px;
    text-align: center;
    align-items: center;
}
a{
    text-decoration: none !important;
    background-color:#212529 !important;
    font-size: 14px !important;
    color: #ffffff!important;
    line-height: 17.64px !important;
    padding: 5px !important;
    
}
a:hover{
    color: #53FFC2 !important;
}
p{
    color: #212529;
    font-size: 16px;
    margin-bottom: 28px;
    line-height: 20.16px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    align-items: center;
}
/* INICIO DEL HEADER */
.navbar-brand img{
    width: 100px;
    height: 100px;
    padding-right: 20px;
}
.btn-outline-success {
    --bs-btn-color: #53FFC2;
    --bs-btn-border-color: #53FFC2;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #53FFC2;
    --bs-btn-hover-border-color: #53FFC2;
    --bs-btn-focus-shadow-rgb: 25,135,84;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #53FFC2;
    --bs-btn-active-border-color: #53FFC2;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #53FFC2;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #53FFC2;
    --bs-gradient: none;
}
/* FIN DEL HEADER */
/* INICIO DEL MAIN PAGINA INDEX*/
main{
    /* background-color: rgb(255, 255, 255); */
    height: auto;
}
/* Inicio del Slide */
.main__slide{
    position: relative;
    height: 450px;
}
.main__slide-box{
    position: relative;
    background-image: url(../images/pexels-fauxels.jpg);
    background-color: rgb(50,50,50);
    background-blend-mode:  soft-light;
    height: 100%;
    background-position: center;
    background-size: cover;    
}
.main__slide-text{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #ffffff;
}
.main__slide-text h1{
    margin-bottom: 10px;
    font-size: 64px;
    line-height: 1.1;
  }
.main__slide-text p{
    margin-bottom: 10px;
    font-size: 30px;
    color: #ffffff;
  }
/* Desktop */
@media (min-width: 1200px){
    .main__slide{
        position: relative;
        height: 700px;
    }
   .main__slide-text p{
    font-size: 48px;
    font-weight: 600;
   }
   .main__slide-text h1{
    font-size: 96px;
   }
}  
/* Fin del Slide */     
/* Inicio del Nosotros */
.main__nosotros{
    background-color: rgb(255, 255, 255);
    margin: 30px;
    height: auto;
}
.main__nosotros-container{
    position: relative;
    padding-bottom: 20px;
    text-align: center;
}
.main__nosotros-video{
    position: relative;
    padding-bottom: 56.25%; 
    height: 0;
    overflow: hidden;
  }
.main__nosotros-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  /* Tablet */
@media (min-width: 720px){
    .main__nosotros{
        margin: 40px 60px;
    }
    .main__nosotros-container p{
        padding: 0px;
    }
}
  /* Desktop */
  @media (min-width: 1200px){
    .main__nosotros{
        height: 346px;
        margin: 40px;
        gap: 55px;
        display: flex;
    }
    .main__nosotros-container{
        width: 45%;
        text-align: left;
    }
    .main__nosotros-container p, h2{
        text-align: left;
        padding-left: 20px;
        padding-right: 20px;
        line-height: 23px
    }
    .main__nosotros-container p{
        font-size: 20px;
    }
    .main__nosotros-container h2{
        font-size: 48px;
        margin-top: 0px;
    }
    .main__nosotros-container a{
        margin-left: 20px;
        font-size: 20px;
    }

    .main__nosotros-video {
        position: relative;
        width: 100%;
        padding-bottom: 346px; 
        height: 0;
        overflow: hidden;
      }
    .main__nosotros-video iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
}
/* Fin del Nosotros */
  /* Inicio del Portafolio*/
  .main__portafolio{
    background-color: rgb(255, 255, 255);
    margin: 30px;
    height: auto;
}
.main__portafolio-container{
    display: flex;
    flex-direction: column;
    gap: 25.5px;
}
.main__portafolio-images{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat (5, 1fr);
}
.main__portafolio-images img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.portafolio__images-1{
    grid-column: 1 / 4;
    grid-row: 1 / 3;
}
.portafolio__images-2{
    grid-column: 4 / 7;
    grid-row: 1 / 2; 
}
.portafolio__images-3{
    grid-column: 4 / 7;
    grid-row: 2 / 3;
}
.portafolio__images-4{
    grid-column: 1 / 3;
    grid-row: 3 / 4;
}
.portafolio__images-5{
    grid-column: 3 / 7;
    grid-row: 3 / 4;    
}
.portafolio__images-6{
    grid-column: 1 / 5;
    grid-row: 4 / 5;
}
.portafolio__images-7{
    grid-column: 5 / 7;
    grid-row: 4 / 5;
}
.portafolio__images-8{
    grid-column: 1 / 4;
    grid-row: 5 / 6;
}
.portafolio__images-9{
    grid-column: 4 / 7;
    grid-row: 5 / 6;   
}
.portafolio-text{
    position: relative;
    padding-bottom: 20px;
    text-align: center;
}
/* Tablet */
@media (min-width: 720px){
    .main__portafolio-images{
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: repeat (3, 1fr);
        grid-auto-rows: 1fr;
        padding: 0 30px;
    }
    .main__portafolio-images img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .portafolio__images-1{
        grid-column: 1 / 4;
        grid-row: 1 / 3;
    }
    .portafolio__images-2{
        grid-column: 4 / 7;
        grid-row: 1 / 2;
    }
    .portafolio__images-3{
        grid-column: 7 / 10;
        grid-row: 1 / 2;
    }
    .portafolio__images-4{
        grid-column: 4 / 6;
        grid-row: 2 / 3;
    }
    .portafolio__images-5{
        grid-column: 6 / 8;
        grid-row: 2 / 3;    
    }
    .portafolio__images-6{
        grid-column: 8 / 10;
        grid-row: 2 / 3;
    }
    .portafolio__images-7{
        grid-column: 1 / 4;
        grid-row: 3 / 4;
    }
    .portafolio__images-8{
        grid-column: 4 / 7;
        grid-row: 3 / 4;
    }
    .portafolio__images-9{
        grid-column: 7 / 10;
        grid-row: 3 / 4;   
    }
    .portafolio-text{
        position: relative;
        padding-bottom: 20px;
        text-align: center;
    }
}
  /* Fin del Portafolio*/
/* Inicio de productos */
.main__productos{
    background-color: rgb(255, 255, 255);
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
.main__productos h2{
    margin-top: 0;
}
.main__productos-images{
    width:100%;
    height: 100%;
    border: solid 1px #444444; 
    display: flex;
    justify-content:center;
    box-sizing: border-box;
    padding: 13px;
    gap: 13px;
    margin-bottom: 22px;
}
.main__productos-images img{
    width: 100%;
    height:100%;
    object-fit: cover;
    overflow: hidden;
}
@media (min-width: 720px){
    .main__productos{
        padding:0 60px;
    }
    .main__productos-images{
        height: 286px;
        padding: 22px;
        gap: 22px;
    }
}
@media (min-width: 1200px){
.main__productos-images{
    margin: 0;
    }
.main__productos h2{
        margin: 0;
}
}
/* Fin de productos */
/* Inicio de contactos */
.main__contacto{
    width: 100%;
    height: auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items:center;
}
.main__contacto-container{
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    display: flex;
    gap: 16px;
}
.main__contacto-imagen{
    background-image:url(../images/contactos2.jpg);
    background-position: center;
    background-size: cover; 
    background-color: rgb(255, 0, 255);
    height: auto;
    width: 100%;
}
.main__contacto-texto{
    height: 177px;
    width: 290px;
    display: flex;
    align-items:self-start;
    flex-direction: column;
    justify-content: space-between;
}
.main__contacto-texto p{
    text-align: left;
    padding: 0;
    margin-bottom: 5px;
}
.main__contacto-texto a{
    margin: 0;
}
@media (min-width: 720px){
    .main__contacto{
        width: 100%;
        height: auto;
        padding: 0 60px 60px;
        display: flex;
        flex-direction: column;
        align-items:center;
    }
}
/* Fin de contactos */
/* Inicio de ppc */
@media (min-width: 1200px){
    .main__grid-ppc{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat (2, 1fr);
        padding: 33px;
    }
    .main__portafolio{
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        margin: 0;
        padding: 0;
    }
    .main__portafolio h2{
        margin-top: 0;
    }
    .main__productos{
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: 3fr, 2fr, 1fr;
        grid-template-rows: 05fr , 2fr;
        align-items:center;
        justify-content: center;
    }
    .main__productos h2{
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        padding: 0;
    }
    .main__productos a{
        grid-column: 3 /4;
        grid-row: 1 / 2;
        text-align: center;
    }
    .main__productos-images{
        grid-column: 1 / 4;
        grid-row: 2 / 3;
    }
    .main__contacto{
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        margin: 20px;
        padding: 20px;
        align-items: start;
    }
}
/* Fin de ppc */
/* FIN DEL MAIN PAGINA INDEX */
/* INICIO MAIN PAGINA SERVICIOS */
/* INICIO DE NUESTROS SERVICIOS */
.servicios__container{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 5px;
}
.servicios__container-imagen{
    background-image: url(../images/disenador1.jpg);
    height: 375px;
    width: 100%;
    position: relative;
    background-color: rgb(50,50,50);
    background-blend-mode:  soft-light;
    background-position: center;
    background-size: cover;
}
.servicios__container-texto{
    margin: 0 61px;
    text-align: center;
}
.servicios__container-texto p{
    padding: 0;
    margin-bottom: 27px;
}
@media (min-width: 720px){
    .servicios__container-texto{
        width: 600px;
    }
}
@media (min-width: 1200px){
    .servicios__container-texto{
        width: 737px;
    }
    .servicios__container-texto p{
        font-size: 20px;
    }
}
/* FIN DE NUESTROS SERVICIOS */
/* INICIO IDD */
.contenedor__idd{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.contenedor__idd-secciones{
    width: 270px;
    height: auto;
    text-align: center;
}
.contenedor__idd-secciones h2{
    line-height: 1;
}
.contenedor__idd-secciones-web{
    width: 270px;
    height: auto;
    text-align: center;
}
.contenedor__idd-secciones-web h2{
    line-height: 1;
}
.contenedor__idd-imagenes1{
    background-image: url(../images/ilustracion.jpg);
    height: 308px;
    width: 100%;
    position: relative;
    background-position: center;
    background-size: cover;
    margin-bottom: 20px;
}
.contenedor__idd-imagenes2{
    background-image: url(../images/disenadorgrafico.jpg);
    height: 308px;
    width: 100%;
    position: relative;
    background-position: center;
    background-size: cover;
    margin-bottom: 20px;
}
.contenedor__idd-imagenes3{
    background-image: url(../images/web.jpg);
    height: 308px;
    width: 100%;
    position: relative;
    background-position: center;
    background-size: cover;
    margin-bottom: 20px;
}
@media (min-width: 720px){
    .servicios__container-imagen{
        margin-bottom: 30px;
    }
    .contenedor__idd{
        width: auto;
        display: grid;
        grid-template-columns: repeat() 2 1fr;
        grid-template-rows: repeat(2 1fr) ;
        gap: 20px;
        justify-items: center;
    }
    .grid1{
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    .grid2{
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    .grid3{
        grid-column: 1 / 3;
        grid-row: 2 / 3; 
    }
    .contenedor__idd-secciones{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        width: 311px;
    }
    .contenedor__idd-secciones h2{
        font-size: 36px;
    }
    .idd-secciones-grid3-1{
        display: flex;
        flex-direction: column;
    }
    .idd-secciones-grid3-1{
        display: flex;
        flex-direction: column;
    }
    .contenedor__idd-imagenes1{
        height: 308px;
        width: 216px;
    }
    .contenedor__idd-imagenes2{
        height: 308px;
        width: 216px;
    }
    .contenedor__idd-imagenes3{
        height: 200px;
        width: 392px;
    }
    .contenedor__idd-secciones-web{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-items: center;
        width: 594px;
    }
    .idd-secciones-web1{
        display: flex;
        flex-direction: column;
    }
    .idd-secciones-web1 h2{
        font-size: 36px;
        text-align: left;
    }
    .idd-secciones-web2{
        margin-top: 90px;
    }
    .idd-secciones-web2 p{
        text-align: left;
    }
}
@media (min-width: 1200px){
    .servicios__container-imagen{
        height: 600px;
        margin-bottom: 50px;
    }
    .servicios__container{
        margin-bottom: 30px;
    }
    .contenedor__idd{
        width: auto;
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-content: center;
        align-items: flex-start;
        margin-bottom: 70px;
    }
    .contenedor__idd-secciones{
        width: 340px;
        height: auto;
        text-align: center;
    }
    .contenedor__idd-secciones p{
        width: 215px;
        padding: 0;
    }
    .contenedor__idd-imagenes1{
        height: 308px;
        width: 220px;
    }
    .contenedor__idd-imagenes2{
        height: 308px;
        width: 220px;
    }
    .contenedor__idd-imagenes3{
        height: 308px;
        width: 220px;
    }
    .contenedor__idd-secciones-web{
        width: 380px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .idd-secciones-web1{
        align-items: center;
    }
    .idd-secciones-web2{
        margin-top: 0;
    }
    .idd-secciones-web2 p{
        text-align: center;
        width: 220px;
        padding: 0;
    }
}
/* Inicio de Ilustracion */
/* FIN IDD */
/* INICIO DEL FOOTER */
footer{
    height: 300px; 
    width: 100%; 
    padding-top: 27px;
    background-color: #212529;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
footer p{
    color: #ffffff;
    margin-bottom: 15px;
    
}
.footer__section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.footer__container{
    display: flex; 
    justify-content: center;
    align-items:center; 
    gap: 15px;
}
.footer__logo{
    width: 100px;
    height: 100px;
}
.footer__RRSS{
    height: 100px ; 
    width: 170px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start; 
}
.footer__RRSS-link{
    display: flex;
    flex-direction: row;
    padding: 0;
    gap: 5px;
}
.footer__RRSS img{
    width: 18px;
    height: 18px;
}
.footer__RRSS a{
    font-size: 16px;
    padding: 0;
    font-size: 15px;
}
.footer__container-input{
    height: 70px;
    width: 290px;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
input[type="email"]::placeholder {
    font-size: 13px;
    color: #C9C8C8;
}
/* .sub-dir{ 
    height: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}  */
.newsletter{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    margin: 0;
    gap: 10px; 
}
.newsletter img{
    width: 25px;
    height: 25px;
}
.barra{
    width: 140px;
} 
input, textarea{
    border:1px gray solid ;
    border-radius: 10px;
    outline: none;
    padding: 5px;
}
.footer__address{
    height: 27px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.footer__address p{
   text-align: left;
   display: flex;
   align-items: center;
   justify-content: center;
}
.footer__address img{
    width: 25px;
    height: 25px;
    margin: 5px;
}
.footer__address a{
    display: flex;
    justify-content: start;
    align-items: flex-start;
    padding: 0;
    margin: 0;
}
@media (min-width: 720px){
    footer{
        height: 210px; 
    }
    .footer__section{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .footer__container-input{
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 20px;
    }
}
/* FIN DEL FOOTER */