.main__contacto {
    height: auto;
    gap: 5px;
  
    &-text {
      h2 {
        padding: 0;
        margin-top: 0;
      }
    }
  
    &-form {
      display: flex;
      flex-direction: column;
      width: 100%;
  
      &1 {
        display: flex;
        flex-direction: column;
        width: auto;
      }
  
      &2 {
        height: 115px;
      }
  
      p {
        margin: 0;
        padding: 0;
        text-align: left;
      }
  
      &-enviar {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-top: 20px;
      }
    }
  
    &-rrss {
      margin-bottom: 40px;
  
      &icon {
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
  
        a {
          background-color: white !important;
          transition: transform 0.3s ease;
  
          &:hover {
            transform: scale(1.2);
          }
        }
  
        img {
          width: 100px;
          height: 100px;
        }
      }
    }
  
    &-date {
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-bottom: 30px;
    }
  
    &-tm {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 30px;
    }
  
    &-telefono {
      h3 {
        padding: 0;
        margin: 0 0 10px;
        font-size: 16px;
        text-align: left;
      }
  
      p {
        padding: 0;
        margin: 0;
        font-size: 12px;
        text-align: left;
      }
    }
  
    &-mail {
      h3 {
        padding: 0;
        margin: 0 0 10px;
        font-size: 16px;
        text-align: left;
      }
  
      p {
        padding: 0;
        margin: 0;
        font-size: 12px;
        text-align: left;
      }
    }
  
    &-maps {
      iframe {
        width: 100%;
        height: 170px;
        display: flex;
        justify-content: center;
      }
    }
  }
  
  .main__contacto-date {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
  
    @media (min-width: 720px) {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
  }
  
  @media (min-width: 720px) {
    .main__contacto {
      padding: 0 85px;
  
      &,
      &-rrss,
      &-date {
        padding: 0 85px;
      }
  
      &-text {
        h2 {
          text-align: center;
        }
      }
  
      &-rrssicon {
        justify-content: space-around;
      }
  
      &-rrsstext {
        h2 {
          text-align: center;
        }
      }
  
      &-date {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
      }
  
      &-maps {
        width: auto;
        height: 180px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
  
      &-maps iframe {
        height: 100%;
      }
  
      &-tm {
        width: 20%;
        display: flex;
        flex-direction: column;
        gap: 16px;
      }
  
      &-telefono {
        h3 {
          margin: 0;
        }
      }
  
      &-mail {
        h3 {
          margin: 0;
        }
      }
    }
  }
  
  @media (min-width: 1200px) {
    .main__contacto {
      padding: 0 132px;
  
      &,
      &-rrss,
      &-date {
        padding: 0 132px;
      }
  
      & {
        display: flex;
        flex-direction: row;
        gap: 20px;
      }
  
      h1,
      h2,
      p {
        text-align: left;
        padding: 0;
      }
  
      h1 {
        font-size: 48px;
      }
  
      h2 {
        text-align: left;
        line-height: 1;
        font-size: 32px;
      }
  
      &-rrsstext {
        h2 {
          text-align: center;
        }
      }
  
      &-maps {
        width: 55%;
        height: 180px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
  
      &-rrssicon {
        justify-content: center;
        gap: 70px;
      }
  
      &-maps iframe {
        width: 100%;
      }
  
      &-tm {
        width: 35%;
        display: flex;
        flex-direction: column;
        gap: 16px;
      }
  
      &-telefono {
        p {
          font-size: 18px;
        }
  
        h3 {
          font-size: 20px;
        }
      }
  
      &-mail {
        p {
          font-size: 18px;
        }
  
        h3 {
          font-size: 20px;
        }
      }
    }
  }
  